body {
    background-color: red;
    }
p{
    color:blue;
}


li {
    float: right;
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}



.table_style{
    text-align:center;
    
}






.myclasss{
    color: aquamarine;
}